{% extends 'base.html' %}

{% block page_title %}
<title>About page</title>
{% endblock %}

{% block page_styles %}
    <style>
        div {
            font-size: 24px !important;
        }
    </style>
{% endblock %}


{% block page_content %}
<h2>About page</h2>
    <div class="container">
    I am an ex-journalist, and a digital native keeping strong interest in technology demonstrated in my professional experience throughout the years. My knowledge of Windows and Linux, coupled with scripting in bash, Python, experience working as a Technical Analyst & Developer, using the full-stack of technologies utilized in both DevOps & ITOps teams has most recently made me a good fit for the Bulgarian IT industry.
        </div>
{% endblock %}