<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photo Gallery</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/gallery.css' %}">
</head>
<body>
    <div class="gallery">
        {% for photo in photos %}
        <div class="photo">
            <img src="{{ photo }}" alt="{{ photo.title }}">
            <div class="overlay">
                <h3>{{ photo.title }}</h3>
                <p>{{ photo.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>