{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <title>My Music App</title>
    <!-- Static Load -->
    <link rel="stylesheet" href="{% static '/css/style.css' %}"/>
</head>

<body>
<div id="box">

    <!-- Navigation Bar -->
    <header>
    {% include 'navbar.html' %}
    </header>
    <!-- End Navigation Bar -->

    <!-- Main Content -->
    {% block content %}

    {% endblock content %}
    <!-- Footer -->
    <footer>
        <div>
            &copy;SoftUni Team 2022. All rights reserved.
        </div>
    </footer>
    <!-- End Footer -->

</div>
</body>
</html>