{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% block page_title %}
        {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/gallery.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
        {% block page_styles %}
        /* Default styles or leave it empty */
        {% endblock %}
</head>
<body>
<div>BASE</div>
<nav>
      <div class="dropdown">
    <button class="dropbtn">Menu &#9662;</button>
    <div class="dropdown-content">
<a href="{{ contact_url }}">Contact</a>
<a href="{{ gallery_url }}">Gallery</a>
<a href="{{ about_url }}">About</a>
    </div>
    </div>
</nav>
<table>
    <tr>
        <td><img src="{% static 'img/logo.png' %}" alt=""></td>
    </tr>
</table>
<h1>Document</h1>
<p>{{ nested.second|capfirst }}</p>
<p>{{ student }}</p>
<p>{{ now|date:"Y-m-d" }}</p>
{% if students %}
    <p>{{ students|join:", " }}</p>
{% else %}
    <p>No students</p>
{% endif %}

<h2> For Loop Examples: </h2>
<ul>
{% for s in students %}
    <li>{{ s }}</li>
    {% endfor %}
</ul>


{% block page_content %}


{% endblock %}

{% include 'examples\partials\footer.html' %}

</body>
</html>